.vscode/**
.vscode-test/**
**/*.ts
**/*.map
.devcontainer/**
.github/**
.husky/**
.envrc
.gitignore
.yarnrc
biome.jsonc
commitlint.config.js
flake.lock
flake.nix
node_modules/**
pnpm-lock.yaml
release.config.cjs
roc-vscode-unofficial
src/**
syntaxes/test/**
tsconfig.json
vsc-extension-quickstart.md
*.vsix
